body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-35px;
  width:1002px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:33px;
  width:664px;
  height:100px;
  display:flex;
}
#u846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:496px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:300px;
  width:300px;
  height:496px;
  display:flex;
}
#u847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:490px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:300px;
  width:300px;
  height:490px;
  display:flex;
}
#u848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:496px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:300px;
  width:300px;
  height:496px;
  display:flex;
}
#u849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:489px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:868px;
  width:300px;
  height:489px;
  display:flex;
}
#u850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:492px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:865px;
  width:300px;
  height:492px;
  display:flex;
}
#u851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:568px;
  width:0px;
  height:0px;
}
#u852_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:72px;
  height:10px;
}
#u852_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-25px;
  width:10px;
  height:30px;
}
#u852_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-25px;
  width:22px;
  height:10px;
}
#u852_seg3 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-29px;
  width:18px;
  height:18px;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:1151px;
  width:0px;
  height:0px;
}
#u853_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:80px;
  height:10px;
}
#u853_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-45px;
  width:10px;
  height:50px;
}
#u853_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-45px;
  width:22px;
  height:10px;
}
#u853_seg3 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-49px;
  width:18px;
  height:18px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:601px;
  width:0px;
  height:0px;
}
#u854_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:254px;
}
#u854_seg1 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:244px;
  width:90px;
  height:10px;
}
#u854_seg2 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:244px;
  width:10px;
  height:23px;
}
#u854_seg3 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:257px;
  width:18px;
  height:18px;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:166px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1150px;
  width:0px;
  height:0px;
}
#u855_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:5px;
}
#u855_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-5px;
  width:74px;
  height:10px;
}
#u855_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-355px;
  width:10px;
  height:360px;
}
#u855_seg3 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-355px;
  width:187px;
  height:10px;
}
#u855_seg4 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-360px;
  width:10px;
  height:15px;
}
#u855_seg5 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-368px;
  width:18px;
  height:18px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:-244px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:742px;
  width:0px;
  height:0px;
}
#u856_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:128px;
  height:10px;
}
#u856_seg1 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-202px;
  width:10px;
  height:207px;
}
#u856_seg2 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-202px;
  width:24px;
  height:10px;
}
#u856_seg3 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-206px;
  width:18px;
  height:18px;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-54px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:1623px;
  width:84px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:1534px;
  width:84px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:1529px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1466px;
  width:84px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1598px;
  width:84px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:1717px;
  width:84px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:1648px;
  width:0px;
  height:0px;
}
#u863_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:47px;
  height:10px;
}
#u863_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-94px;
  width:10px;
  height:99px;
}
#u863_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-94px;
  width:19px;
  height:10px;
}
#u863_seg3 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-98px;
  width:18px;
  height:18px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:1648px;
  width:0px;
  height:0px;
}
#u864_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:47px;
  height:10px;
}
#u864_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-5px;
  width:10px;
  height:104px;
}
#u864_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:89px;
  width:19px;
  height:10px;
}
#u864_seg3 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:85px;
  width:18px;
  height:18px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:25px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1559px;
  width:0px;
  height:0px;
}
#u865_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:56px;
  height:10px;
}
#u865_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-9px;
  width:18px;
  height:18px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:1559px;
  width:0px;
  height:0px;
}
#u866_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u866_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-73px;
  width:10px;
  height:78px;
}
#u866_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-73px;
  width:23px;
  height:10px;
}
#u866_seg3 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-77px;
  width:18px;
  height:18px;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:1559px;
  width:0px;
  height:0px;
}
#u867_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u867_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-5px;
  width:10px;
  height:74px;
}
#u867_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:59px;
  width:23px;
  height:10px;
}
#u867_seg3 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:55px;
  width:18px;
  height:18px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:1584px;
  width:0px;
  height:0px;
}
#u868_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:138px;
}
#u868_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:18px;
  height:18px;
}
#u868_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:123px;
  width:18px;
  height:18px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:1712px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1665px;
  width:84px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:1778px;
  width:84px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:1665px;
  width:84px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:1742px;
  width:0px;
  height:0px;
}
#u873_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:56px;
  height:10px;
}
#u873_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-9px;
  width:18px;
  height:18px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:1742px;
  width:0px;
  height:0px;
}
#u874_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u874_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-57px;
  width:10px;
  height:62px;
}
#u874_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-57px;
  width:23px;
  height:10px;
}
#u874_seg3 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-61px;
  width:18px;
  height:18px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:1742px;
  width:0px;
  height:0px;
}
#u875_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u875_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-5px;
  width:10px;
  height:71px;
}
#u875_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:56px;
  width:23px;
  height:10px;
}
#u875_seg3 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:52px;
  width:18px;
  height:18px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:0px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:1690px;
  width:0px;
  height:0px;
}
#u876_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u876_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-9px;
  width:18px;
  height:18px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
