body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:856px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:132px;
  width:854px;
  height:90px;
}
#u1802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
}
#u1804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:0px;
  width:107px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:0px;
  width:105px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:107px;
  height:30px;
  display:flex;
}
#u1810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:30px;
  width:107px;
  height:30px;
  display:flex;
}
#u1811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:30px;
  width:107px;
  height:30px;
  display:flex;
}
#u1812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:30px;
  width:107px;
  height:30px;
  display:flex;
}
#u1813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:30px;
  width:107px;
  height:30px;
  display:flex;
}
#u1814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:30px;
  width:107px;
  height:30px;
  display:flex;
}
#u1815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:30px;
  width:107px;
  height:30px;
  display:flex;
}
#u1816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:30px;
  width:105px;
  height:30px;
  display:flex;
}
#u1817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:107px;
  height:30px;
  display:flex;
}
#u1818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:60px;
  width:107px;
  height:30px;
  display:flex;
}
#u1819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:60px;
  width:107px;
  height:30px;
  display:flex;
}
#u1820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:60px;
  width:107px;
  height:30px;
  display:flex;
}
#u1821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:60px;
  width:107px;
  height:30px;
  display:flex;
}
#u1822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:60px;
  width:107px;
  height:30px;
  display:flex;
}
#u1823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:60px;
  width:107px;
  height:30px;
  display:flex;
}
#u1824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:60px;
  width:105px;
  height:30px;
  display:flex;
}
#u1825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:left;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:54px;
  width:161px;
  height:35px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u1826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:left;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:54px;
  width:161px;
  height:35px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u1827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:64px;
  width:15px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:54px;
  width:101px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:112px;
  width:63px;
  height:20px;
  display:flex;
  color:#0000FF;
}
#u1830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1830_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
